
html, body {
  margin: 0;
  height: 100%;
  font-family: 'Arial', sans-serif;
  overflow: hidden; /*Para no hacer scroll*/
}



/* Video de fondo */
.video-background {
  position: fixed; /*Se queda fijo detrás*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*z-index: -1; Se queda detrás*/
}

.video-background video {
  width: 100%;
  height: 100%;
  object-fit: cover; /*Se ajusta al tamaño*/
}



/* Header */
header {
  height: 80px;
  backdrop-filter: blur(6px); /*Desenfoque*/
  padding: 0 2rem;
  transition: background 0.3s ease;
  position: absolute; /*Para que se ponga encima del video*/
  width: 100%;
  background: linear-gradient( /*Degradado*/
    to bottom,
    rgba(65, 37, 18, 0.8),
    rgba(65, 37, 18, 0.4),
    rgba(65, 37, 18, 0)
  );
  color: white;
  z-index: 10; /*Para que se ponga encima del video*/
}

#titulo {
  color: #93562e;
}

#login {
  color: #93562e;
  text-decoration: none;
  transition: color 0.3s ease;
}

#login:hover {
  color: white;
}

#contactanos {
  border-color: #93562e;
  color: #93562e;
  transition: all 0.3s ease;
}

#contactanos:hover {
  background-color: #93562e;
  color: white;
}

a {
  color: #93562e;
}



/* Main */
.hero-section {
  height: calc(100vh - 180px); /*Para que se vea footer sin scroll*/
  position: relative;
  display: flex;
  align-items: flex-end; /*Frases abajo*/
  justify-content: flex-start; /*Frases a la izquierda*/
  padding: 4rem; /*Espacio interior*/
}

.hero-section .overlay { /*Capa oscura*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1;
}

.hero-section .content {
  position: relative;
  z-index: 2;
  text-align: left;
}

#primera {
  font-size: 32px;
  margin-bottom: 0.5rem;
  color: #412512;
  font-weight: bold;
}

#segunda {
  font-size: 42px;
  font-weight: bold;
  color: white;
  -webkit-text-stroke: 2px #93562e; /*Contorno*/
}

.tomorrow {
  font-weight: 900;
}



/*Footer*/
footer {
  height: 100px;
  padding: 1rem 2rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #4a2b17;
  color: white;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

footer h3 {
  margin: 0;
  color: #93562e;
}

#correo a {
  text-decoration: none;
  color: #93562e;
}

#derechos {
  color: #93562e;
  margin: 0;
}


