
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

h2 {
  font-weight: 600;
  text-transform: uppercase;
}

.btn-primary {
  background-color: #0077ff;
  border: none;
}

.btn-primary:hover {
  background-color: #005ec2;
}
 .carousel-inner img {
    height: 500px;         
    object-fit: cover;     
  }